<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.{{AGENT_NAME}}.evening</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{TOOLS_DIR}}/run.sh</string>
        <string>evening</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>22</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>{{TOOLS_DIR}}/logs/launchd-evening.log</string>
    <key>StandardErrorPath</key>
    <string>{{TOOLS_DIR}}/logs/launchd-evening-err.log</string>
</dict>
</plist>
